numpy
requests
tqdm
scikit-learn
pandas
langchain
regex
trl==0.8.2
peft
accelerate
safetensors>=0.4.1
sentence-transformers==2.2.0
datasets==2.18.0
torch==2.1.0
torchaudio
transformers
bitsandbytes
accelerate
wandb
langchain-community
huggingface_hub
openai
python-dotenv







